* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: contain;
}

header h1 {
  padding: 20px;
}

.main {
  width: 840px;
}

.main-contens1 {
  padding-top: 50px;
  padding-bottom: 30px;
}

.main-contens2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-contens3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-contens4 {
  padding-top: 30px;
  padding-bottom: 30px;
}

fotter {
  margin: 50px 0;
}