* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

header h2 {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.main-contens1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #B2B2B2;
}

.main-contens2 {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #B2B2B2;
}

.main-contens3 {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #B2B2B2;
}

.main-contens4 {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #B2B2B2;
}